<form [formGroup]="todoForm" (ngSubmit)="createTodo()">
    <h4>To Do</h4>
    <!-- <tbody formArrayName="todos"> -->
        <!-- <tr *ngFor="let todo of todoArray.controls" [formGroup]="todo"> -->
            <td>
                Description: <input type="text" formControlName="description">
            </td>
            <td> Priority: 
                <!-- <input type="radio" value="High" formControlName="priority"> High
                <input type="radio" value="Medium" formControlName="priority"> Medium
                <input type="radio" value="Low" formControlName="priority"> Low -->
                <select formControlName="priority">
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
            </td>
            <td>
                Due: <input type="text" formControlName="due">
            </td>
        <!-- </tr> -->
    <!-- </tbody> -->
    <tbody>
        <button type="submit">Add</button>
    </tbody>
</form>